<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Consulta</title>
  <!-- Incluindo Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-success">
    <a class="navbar-brand" href="/">Cinema</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link text-dark" href="/">Home</a>
          </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="/consulta/" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Consulta
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/ator/">Autores</a>
            <a class="dropdown-item" href="/continente/">Continentes</a>
            <a class="dropdown-item" href="/diretor/">Diretores</a>
            <a class="dropdown-item" href="/episodio/">Episodios</a>
            <a class="dropdown-item" href="/filmeator/">Filme e seus Autores</a>
            <a class="dropdown-item" href="/filme/">Filmes</a>
            <a class="dropdown-item" href="/genero/">Generos</a>
            <a class="dropdown-item" href="/nacionalidade/">Nacionalidade</a>
            <a class="dropdown-item" href="/pais/">Paises</a>
            <a class="dropdown-item" href="/serieepisodio/">Serie e Episodios</a>
            <a class="dropdown-item" href="/serie/">Serie</a>
            <a class="dropdown-item" href="/temporada/">Temporadas</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link text-dark" href="/reserva/">Reserva</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-dark" href="/admin/">Administração</a>
        </li>
      </ul>
    </div>
  </nav>

  <div class="container mt-5">
    <h2 class="mb-4">Tabela de Paises</h2>
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Nome</th>
              <th scope="col">Nome</th>
              <th scope="col">Nome</th>
            </tr>
            {% for Pais in consultas %}
          </thead>
          <tbody>
           <td>{{Pais.nome}}</td>
           <td>{{Pais.nacionalidade}}</td>
           <td>{{Pais.continente}}</td>
          </tbody>
           {% endfor %} 
        </table>
      </div>
    </div>
  </div>

  <!-- Incluindo jQuery e Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
